FLASK_ENV=  #development
DATABASE_URL=  #postgresql://user:pass@localhost/erpdb
SUPABASE_URL=  #url de API banco de dados do supabase
SUPABASE_KEY=  #API Key do supabase
SECRET_KEY=  #sua_chave_secreta_aqui